<div class="row">  
        <!-- <app-product class="col-lg-4 col-md-6 mb-4"></app-product>
        <app-product class="col-lg-4 col-md-6 mb-4"></app-product>
        <app-product class="col-lg-4 col-md-6 mb-4"></app-product>
        <app-product class="col-lg-4 col-md-6 mb-4"></app-product> -->

         <div class="col-lg-4 col-md-6 mb-4" *ngFor="let product of products">
            <div class="card h-100">
                    <a href="#"><img class="card-img-top" [src]="product.img" alt=""></a>
                      <div class="card-body">
                        <h4 class="card-title">
                          <a href="#">{{product.name}}</a>
                        </h4>
                        
                        
                        <p class="card-text">{{product.status?"Còn Hàng":"Hết Hàng"}}</p> 
                      </div>
                      <!-- <div class="card-footer">  -->
                            <!-- <button class="btn btn-primary" (click)="removeItem(product.id)">Delete</button> -->
                            <!-- <input type="text" name="Name" (keyup)="changeName($event)"> -->
                             <!-- <button class="btn btn-primary" routerLink="/product/{{product.id}}">Chi tiết</button> -->
                             
                            <!-- <div *ngIf="selected">    
                            <input type="text" [(ngModel)]="product.name"> -->
                        <!-- <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small> -->
                      <!-- </div> -->
                </div>
            </div>
  </div>
 