<div class="example">
        <div class="container">
            <div class="row">
              <h2>Table</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Desc</th>
                            <th>Status</th>
                            <th>Img</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of products">
                            <td>{{product.name}}</td>
                            <td>{{product.price}}</td>
                            <td>{{product.desc}}</td>
                            <td>{{product.status}}</td>
                            <td><a href="#"><img class="card-img-top" [src]="product.img" alt=""></a></td>
                            <td><button class="btn btn-primary" (click)="removeItem(product.id)">Delete</button></td>
                            <td><button class="btn btn-primary" routerLink="/product/{{product.id}}">Detail</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
         
    </div>